
:root {
	--color-background: #272d32;
	--color-editor: #1d2429;
	--color-hover: #3e474f;
	--color-border: #4c5863;
	--color-selected: #4c5863;
	--color-text: #c2c8cd;
	--color-highlight: #eef7ff;
	--color-subtle: #959fa7;
	--color-placeholder: #60676d;
	--color-accent: #ea812b;

	--color-mcui-background: #a2abb1;
	--color-mcui-text: #424547;
}


@media (prefers-color-scheme: dark) {
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}
* {
	scrollbar-color: var(--color-hover) transparent;
}
ul {
  padding: 0;
}

body {
	min-height: 100vh;
	color: var(--color-text);
	background: var(--color-background);
	transition: color 0.5s, background-color 0.5s;
	line-height: 1.6;
	font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#app {
	height: 100vh;
	width: 100vw;
}

@font-face {
  font-family: minecraft8;
  src: url('./font/Minecraft-Regular.otf');
}
@font-face {
  font-family: minecraft8;
  src: url('./font/Minecraft-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: minecraft8;
  src: url('./font/Minecraft-Italic.otf');
  font-style: italic;
}
@font-face {
  font-family: minecraft8;
  src: url('./font/Minecraft-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}



input, select {
	font-size: inherit;
	font-weight: inherit;
	background-color: var(--color-editor);
	border: 1px solid var(--color-border);
	color: var(--color-text);
	outline: none;
	height: 30px;
	padding: 2px 4px;
	flex-grow: 1;
}
input[type=text], input[type=number], input:not([type]) {
	font-family: var(--font-code);
}
input:active, select:active {
	outline-color: 1px solid #3c6a89;
}
::placeholder {
	color: var(--color-placeholder);
	opacity: 1; /* Firefox */
}
textarea {
	font-family: Consolas, monospace;
	color: inherit;
	resize: none;
	font-weight: inherit;
}
textarea:focus, textarea:focus {
	outline: 1px solid var(--color-border);
}
button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	appearance: none;
	border: none;
	background-color: var(--color-hover);
	color: inherit;
	font-size: inherit;
	padding: 8px 12px;
	border-radius: 1px;
	cursor: pointer;
}
button:hover {
	background-color: var(--color-accent);
	color: black;
}
h3 {
	user-select: none;
	color: var(--color-subtle);
    font-size: 1.3em;
}
dialog {
	margin: auto;
	border: 1px solid var(--color-border);
	background-color: var(--color-background);
	box-shadow: 0 1px 12px rgba(0, 0, 0, 0.4);
	padding: 12px;
	color: inherit;
	border-radius: 4px;
	width: 680px;
	height: 500px;
	max-width: 100vw;
	max-height: 100vh;
}

/* Code Mirror */
.ͼ1 {
	background-color: var(--color-editor);
}
.ͼ1 .cm-gutters {
	background-color: var(--color-background);
	color: var(--color-subtle);
	border-right: 1px solid var(--color-border);
}
.ͼ2 .cm-activeLineGutter {
	background-color: var(--color-hover);
}
.ͼ2 .cm-activeLine {
	background-color: #a6e1ff12;
}
